{
    "app": {
        "env": "development",
        "name": "directory-service",
        "debug_mode": true,
        "port": 8080
    },
    "database": {
        "dsn": "user:password@tcp(localhost:3306)/dbname?parseTime=true",
        "max_open_conns": 25,
        "max_idle_conns": 25,
        "conn_max_lifetime": "300s",
        "conn_max_idle_time": "60s"
    }
}