{
    "app_rest_api": {
        "name": "directory-service-rest-api",
        "env": "development",
        "debug_mode": true,
        "port": 8080,
        "pprof": {
            "enable": true,
            "port": 8080,
            "static_token": "-sssssajssssassssssss"
        }
    },
    "app_grpc_api": {
        "name": "directory-service-grpc-api",
        "env": "development",
        "debug_mode": true,
        "port": 9090,
        "pprof": {
            "enable": false,
            "port": 7070,
            "static_token": "-sssssajssssassssssss"
        }
    },
    "app_scheduler": {
        "name": "directory-service-scheduler",
        "env": "development",
        "debug_mode": true,
        "healthcheck_interval": "0 */5 * * * *",
        "pprof": {
            "enable": true,
            "port": 7070,
            "static_token": "-sssssajssssassssssss"
        }
    },
    "database": {
        "dsn": "user:password@tcp(localhost:3306)/dbname?parseTime=true",
        "max_open_conns": 25,
        "max_idle_conns": 25,
        "conn_max_lifetime": "300s",
        "conn_max_idle_time": "60s"
    }
}